@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", sans-serif;
  color: #505050;
}

.github-link {
  position: absolute;
  top: 10px;
  right: 10px;
}