article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  img {
    width: 220px;
    height: 220px;

    margin-bottom: 1em;
  }

  address {
    text-align: center;

    a {
      color: inherit;
      font-style: normal;
      line-height: 1.6em;
    }
  }
}